ACCESS_SECRET_KEY=secret_key
REFRESH_SECRET_KEY=secret_key

DATABASE_URL=data_base_url


# MAILGUN
MAILGUN_HOST=mailgun_host
MAILGUN_PORT=mailgun_port
MAILGUN_USER=mailgun_user
MAILGUN_PASS=mailgun_password

# REDIS
REDIS_URL=redis_url
REDIS_PORT=redis_port
REDIS_HOST=redis_host

# S3
S3_HOST=S3_HOST
S3_PORT=S3_PORT
S3_ROOT_USER=S3_ROOT_USER
S3_ROOT_PASSWORD=S3_ROOT_PASSWORD