ACCESS_SECRET_KEY=secret_key
REFRESH_SECRET_KEY=secret_key

DATABASE_URL=data_base_url


# MAILGUN
MAILGUN_HOST=mailgun_host
MAILGUN_PORT=mailgun_port
MAILGUN_USER=mailgun_user
MAILGUN_PASS=mailgun_password

# REDIS
REDIS_URL=redis_url
REDIS_PORT=redis_port
REDIS_HOST=redis_host

# MINIO
MINIO_HOST=MINIO_HOST
MINIO_PORT=MINIO_PORT
MINIO_ROOT_USER=MINIO_ROOT_USER
MINIO_ROOT_PASSWORD=MINIO_ROOT_PASSWORD